.main {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #280b66;
  color: white;
}

.cars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 0.5rem;
  border: 0.2px solid black;
  border-radius: 4px;
  list-style: none;
  transition: 1s;
  animation-name: cars;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@media (max-width: 1000px) {
.cars {
  grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 500px) {
.cars {
  grid-template-columns: 1fr;
}
}
